[Unit]
Description=vmquota sync run
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vmquota sync
